<div id="cover"></div>
<div id="card">
  <a href="" class="close"></a>
  <section>
    <h4>{{card.title}}</h4>
    <small>in list <a href="#">{{#find_list_title card.list_id}}{{/find_list_title}}</a> <span class="subscribed"></span></small>
    <dl>
      <dt>Labels</dt>
      <dd>
        <ul class="labels">
          {{#each card.labels}}
            <li class="card_label" data-id={{this.id}} style="background: {{#find_color this.id}}{{/find_color}}">
              {{#find_color_title this.id}}{{/find_color_title}}
            </li>
          {{/each}}
          <li class="add_label card_label"></li>
        </ul>
      </dd>
    </dl>

    {{#detailSchedule card.due}}{{/detailSchedule}}


    <dl id="description">
      <dt>Description <a href="#">Edit</a></dt>
      <dd>{{card.description}}</dd>
    </dl>

    <h5 id="add_comment">Add Comment</h5>

    <div id="textarea">
      <textarea placeholder="Write a comment.."></textarea>
    </div>
    <input type="button" value="Save">

    <h5 id="activity">Activity</h5>
    <ul id="comment">
      {{#each card.comments}}
      <li>
        <h6>Chian Yee Lee</h6>
        <p>{{this}}</p>
        <small>3 minutes ago - <a href="#">Edit</a> <a href="#">Delete</a></small>
      </li>
      {{/each}}
    </ul>
  </section>
  <nav>
    <h5>Add</h5>
      <ul>
        <li id="label">Labels</li>
        <li id="due">Due Date</li>
      </ul>

    <h5>Actions</h5>
      <ul>
        <li id="move">Move</li>
        <li id="copy">Copy</li>
        <li id="subscribe">Subscribe</li>
        <li id="archive">Archive</li>
      </ul>
  </nav>
  <div class="popup existing_label">
    <a href="#" class="close"></a>
    <h5>Labels</h5>
    <input type="text" name="" placeholder="Search labels...">
    <ul>
      {{#each existing_color}}
      <li data-id="{{this.id}}">
        <label style="background: {{this.colors}};" data-color="{{this.colors}}">
          {{this.title}}
          <input type="checkbox" {{#checked_state ../card.labels this.id}}{{/checked_state}}>
        </label>
        <input class="label_change" type="button">
      </li>
      {{/each}}
    </ul>

    <a href="#">Create a new label</a>
    <a href="#">Show more labels</a>

    <a href="#">Enable color blind friendly mode</a>
  </div>

  <div class="popup change_label">
    <a href="#" class="back"></a>
    <a href="#" class="close"></a>
    <h5>Change Label</h5>

    <form action="#" method="put">
      <dl>
        <dt><label>Name</label></dt>
        <dd><input type="text" name="title"></dd>
      </dl>

      <dl>
        <dt>Select a color</dt>
        <dd>
          <ul>
            <li>
              <label style="background: red;">
                <input type="radio" name="color" value="red">
              </label>
            </li>


            <li>
              <label style="background: green;">
                <input type="radio" name="color" value="green">
              </label>
            </li>

            <li>
              <label style="background: purple;">
                <input type="radio" name="color" value="purple">
              </label>
            </li>

            <li>
              <label style="background: blue;">
                <input type="radio" name="color" value="blue">
              </label>
            </li>
          </ul>
        </dd>
      </dl>

      <input id="change_label" type="submit" value="Save">
      <input type="button" value="Delete" class="delete">
    </form>
  </div>
</div>
<nav>
  
</nav>


